<div style="display: flex; flex: 10; flex-direction: column;">
	<div class="text-center panel panel-default" style="display: flex; flex: 10; align-items: center;">
		<div class="panel-body" style="flex: 10;">
			<h2>
				<a data-toggle="collapse" href="#collapse_{ACCORDION_ID}">{TITLE}</a>
			</h2>
		</div>
	</div>
	<div id="collapse_{ACCORDION_ID}" class="panel-collapse collapse">
			{CONTENT}

		<div class="row" style="display: flex; align-items: stretch;">
			<div class="col-sm-10" style="display: flex;">
				<div class="text-center panel panel-default" style="display: flex; flex: 10; align-items: center;">
					<div class="panel-body" style="flex: 10;">
						<h2>Squirrel of doom</h2>
						<img src="./data/default/xsrl_276/xsrl5a2fec7285eb14.75764899.jpg" alt="Block picture" style="width: 100%">
						<p>Yes it is!</p>
					</div>
				</div>
			</div>
			<div class="col-sm-2" style="display: flex;">
				<div class="panel panel-default" style="flex: 2;">
					<div class="panel-body">
						<div style="margin-bottom: 5px">
							<div class="split-btn btn-group">
								<span class="split-btn-default"><a class="btn btn-default" href="ilias.php?ref_id=70&amp;cmd=edit&amp;cmdClass=xsrlpictureblockgui&amp;cmdNode=m2:11x:11v&amp;baseClass=ilObjPluginDispatchGUI&amp;block=85">&nbsp;Edit&nbsp;</a></span>

								<button type="button" class="btn btn-default btn btn-default btn-split dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="ilias.php?ref_id=70&amp;cmd=confirm&amp;cmdClass=xsrlpictureblockgui&amp;cmdNode=m2:11x:11v&amp;baseClass=ilObjPluginDispatchGUI&amp;block=85">&nbsp;Delete&nbsp;</a></li>


								</ul>

							</div>
						</div>

						<input class="form-control" type="text" id="picture_85" maxlength="200" name="picture_85" value="9223372036854775807" required="required">




					</div>
				</div>

			</div>
		</div>

	</div>
</div>
